*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.first_title{
    width:100%;
    padding: 0.4rem 0;
    background-color: black;
    position:relative;
}
.first_title .title{
    color:white;
    font-size: 20px;
}
.first_title .title span:hover{
    color:red;

}
.fa-xmark{
    color:white;
    font-size: 20px;
    padding-top: 0.5rem;
    position: absolute;
    right:20px;
}

/* navbar */
.nav-link{
    color: black;
    font-weight: bold;
    margin-left: 0.7rem;
    
}
.nav-link:hover, .icon:hover{
    color:red;
}
.navbar-brand{
    padding-left:2rem;  
}
.navbar-collapse{
    padding-left:5rem;
}
.dropdown-menu{
    border-radius: 0;
    border:none;
    padding: 0.5rem;
}
.collection.dropdown-menu ul{
    list-style: none;
    padding: 0;
}


.collection.dropdown-menu .show  {
    display: flex;
}
.collection.dropdown-menu li a{

    padding: 0.8rem 2em;
}
.collection.dropdown-menu li:first-child a{
    font-weight: bold;
    font-size: 1rem;
    text-decoration:underline white 2px;
}
.image_mobile{
    margin: 5rem auto;
}
.icon{
    color:black;
    padding-left:0.5rem;
}

/* hero */
.carousel-inner ,.carousel-inner img{
    width: 100%;
    height:80vh;
}
.carousel-caption{
    top:10%;
    right:15%;
    text-align: right;
    padding-right: 3rem;
} 


.carousel-caption h2 
{
    padding-right: 4rem; 
}
.RESOLUTION .carousel-caption{
    right:22%;
    padding-right:18rem;
    color:black;
    
}


.carousel-caption .btn{
    margin-right: 7rem; 

}
.caption{
    font-size: 80px;
    font-weight: bold;
}
.carousel-caption .btn{
    padding: 0.5rem 4rem;
    margin-bottom: 6rem;
    font-size: 20px;
}
.carousel-caption .btn:hover{
    background-color:red;
    color:white;
    border: none;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:black;
    border: 2px solid white;
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover{
    background-color: red;
    border:none;

}
/* cards */
.card{
    border: none;
}
.card img{
    width:max-content;
    margin: 2rem auto;
}
.card img:hover{
    transform: scale(0.8);
}
.card-body h6:hover{
    color: red;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    margin:3rem;
}

/* POSSIBILITIES */
.card-translate{
    transform: translateY(-50%);
    
}
.POSSIBILITIES .phone{
    width:100%;
}
.spinners{
    position:relative;
}

.spinner-one{
    position:absolute;
    left: 15%;
    top:56%;
}
.spinner-two{
    position:absolute;
    left: 32%;
    top:56%;
}
.spinner-three{
    position:absolute;
    left: 60%;
    top:56%;
}
.spinner-four{
    position:absolute;
    left: 88%;
    top:56%;
} 
.visually-hidden::before{
    content: ".";
}
/* features */
.img-iphone{
    width:200px;
    
}







/* NEW ARRIVALS */


.wrapper{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap ;
    padding:0 35px;
    position: relative;
    
}
.wrapper img{
    width:184px;
    height: 184px;
    margin: 2rem auto;
    object-fit: cover;
}
.wrapper .carousel{
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/3) -12px);
    gap:16px;
   
    overflow-x:auto;
}
.wrapper .fa-chevron-right,
.wrapper .fa-chevron-left{
    height: 30px;
    width: 30px;
    background-color: black;
    text-align: center;
    line-height: 50px;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:70px; /* 121 */
    
}
.wrapper .fa-chevron-left{
    left:100px;   /* 5 */
}


.wrapper .card{
    list-style: none;
    border-radius: 8px;
    height:30rem;
    background-color:white;
    width:18rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
    border:2px solid rgba(231, 223, 223, 0.702);
}






@media screen and (min-width:993px) {
    .collection.dropdown-menu:hover .collection.dropdown-menu{
        display:flex ;
    }
    .collection.dropdown-menu.show{
        display: flex;
    }
    .wrapper .carousel{
        grid-auto-columns: calc((100%/2) -9px);
    }
}




@media screen and (max-width: 575px) { 
	.carousel-caption {
		text-align: center;
        width:max-content;
        height:max-content;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:75px auto;
	} 
    .d-none{
        display: flex !important;
        }
    .d-sm-block{
            display: flex !important;
    }
    .caption,.carousel-caption h2{
        font-size: 1.4rem;
        font-weight: normal;
    }
    .carousel-caption h2{
        padding-right: 1rem; 
    }
    .carousel-caption .btn{
        padding: 0.2rem;
        margin: 0.2rem;
        font-size:1rem;
    }
    .wrapper .carousel{
        grid-auto-columns: calc(100%);
    }

}
